html, main {
    background-color: brown;
}

.grud {
    padding: 0;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: 1fr, 1fr, 1fr;
    margin: 0;
    gap: 1rem;
    width: 20rem;
    height: 15rem;
}



picture:nth-child(2) {
    border: 2px solid orange;
    width: 100%;
    display: block;
    object-fit: cover;
}