---
layout: base.njk
---

<head>
    <link rel="stylesheet" href="/css/grot.css">
</head>

<main>
    <div class="grid">   
        {% asyncAll item in capital %}
        <div class="bilder">
            <h1>{{ item.name.common }}</h1>
            <p>Official name</p>
            <h2>{{ item.name.official }}</h2>
            <p>Flag</p>
            {% image item.flags.png, "blah blah" %}
            <p class="imgsrc">Image source: {{ item.flags.png }}</p>
        </div> 
        {% endall %}
    </div>
    
</main>