---
layout: base.njk
---
<head>
    <link rel="stylesheet" href="../css/style.css">
</head>

<main>
    <h1>Data dump</h1>
    <a href="/bindex">ssksk</a>
    {% image capital[0].flags.png, "blah blah" %}
    
    <p> {{ capital[0].name.nativeName.swe.common }}</p>
    <pre>
        <p>{{ capital[0] | dump(2) }}</p>
    </pre>
    <p>Min github user: {{ github.login }} och plats: {{ github.location }}.</p>
    <div class="grud">
        {% asyncAll  item in unsplash.results %}
        <!-- <pre>{{ item | dump(2) }}</pre> -->
        <!-- <img src="{{ item.urls.small }}" alt="{{ item.description }}"> -->
        {% image item.urls.small, item.alt_description %}
        {% endall %}
    </div>

    <!-- {% image "https://images.unsplash.com/photo-1508361001413-7a9dca21d08a?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzNzQ3Nzh8MHwxfHNlYXJjaHwxfHxoYWxsb3dlZW58ZW58MHx8fHwxNjY2NTk0Mjc4&ixlib=rb-4.0.3&q=80&w=400", "photo of my cat" %} -->
</main>